body{
    background: black;
}
.form{
    background: #666666;
    width: 300px;
    padding: 25px 25px;
    margin: 40px auto;
}
h1.login-title{
    color: #ffffff;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;

}
.login-input{
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color: blue;
    outline: blue;
}
.login-button{
    color: black;
    background-color: gold;
    width: 93%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border: 0;
    outline: 0;
}
.link {
    color: #1d2418;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #63de09;
}
h3{
    font-weight: normal;
    text-align: center;
}